body {
	background-color: #BC06CC;
}

p {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

h1 {
	color: white;
}

#footer {
	background-color: purple;
	font-size: 40px;
	border: 3px solid white; 
}

#sports {
	left: 330px;
	right: 330px;
	border: 3px solid white;
	color: white; 
}

img {
	float: right;
}

#Search {
	float: right; 
}

#nav {
	color: white;
	border: 3px solid white;
}

#main {
	border: 3px solid white;
}
